html, body {
    padding: 0px;
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.landing-container {
    height: 100vh;
    background-color: #4daaf6;
    background-image: url("../img/landing-bg2.svg");
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}

.landing-navbar {
    display: flex;
    justify-content: space-between;
    padding:50px 100px;
    border: 1px solid black;
}

.landing-navbar header {
    font-size: 18px;
}